ConsoleApplication1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_KeyBoardHandler_InputMessage">
    <wsdl:part name="parameters" element="tns:KeyBoardHandler" />
  </wsdl:message>
  <wsdl:message name="IService_KeyBoardHandler_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeyBoardHandlerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_StartClient_InputMessage">
    <wsdl:part name="parameters" element="tns:StartClient" />
  </wsdl:message>
  <wsdl:message name="IService_StartClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MouseCoords_InputMessage">
    <wsdl:part name="parameters" element="tns:MouseCoords" />
  </wsdl:message>
  <wsdl:message name="IService_MouseCoords_OutputMessage">
    <wsdl:part name="parameters" element="tns:MouseCoordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MouseEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:MouseEvents" />
  </wsdl:message>
  <wsdl:message name="IService_MouseEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:MouseEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetByteArray_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByteArray" />
  </wsdl:message>
  <wsdl:message name="IService_GetByteArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByteArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="IService_SetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetKeyBordEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyBordEvent" />
  </wsdl:message>
  <wsdl:message name="IService_GetKeyBordEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyBordEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStartEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStartEvent" />
  </wsdl:message>
  <wsdl:message name="IService_GetStartEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStartEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMouseCoords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMouseCoords" />
  </wsdl:message>
  <wsdl:message name="IService_GetMouseCoords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMouseCoordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMouseEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMouseEvents" />
  </wsdl:message>
  <wsdl:message name="IService_GetMouseEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMouseEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="KeyBoardHandler">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/KeyBoardHandler" message="tns:IService_KeyBoardHandler_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/KeyBoardHandlerResponse" message="tns:IService_KeyBoardHandler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/StartClient" message="tns:IService_StartClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/StartClientResponse" message="tns:IService_StartClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MouseCoords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MouseCoords" message="tns:IService_MouseCoords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MouseCoordsResponse" message="tns:IService_MouseCoords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MouseEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MouseEvents" message="tns:IService_MouseEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MouseEventsResponse" message="tns:IService_MouseEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByteArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetByteArray" message="tns:IService_GetByteArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetByteArrayResponse" message="tns:IService_GetByteArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetData" message="tns:IService_SetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetDataResponse" message="tns:IService_SetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyBordEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetKeyBordEvent" message="tns:IService_GetKeyBordEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetKeyBordEventResponse" message="tns:IService_GetKeyBordEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStartEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStartEvent" message="tns:IService_GetStartEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStartEventResponse" message="tns:IService_GetStartEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMouseCoords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMouseCoords" message="tns:IService_GetMouseCoords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMouseCoordsResponse" message="tns:IService_GetMouseCoords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMouseEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMouseEvents" message="tns:IService_GetMouseEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMouseEventsResponse" message="tns:IService_GetMouseEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service" />
</wsdl:definitions>